/* Estilos generales */
.container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    background-color: var(--color-text-secondary);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
  }
  
  /* Estilos para campos de precio */
  .fieldPrice_Send {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .priceField {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px !important;
  }
  
  .input__price {
    display: block;
    border: 1px solid var(--color-border-three);
    border-radius: 0.25rem;
    padding: 0.38rem 0.38rem;
    transition: 0.15s ease;
  }
  
  .button_add {
    height: 41px !important;
  }
  
  /* Estilos para el encabezado del modal */
  .modal__header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--color-border-three);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Estilos para el cuerpo del modal */
  .modal__body {
    padding: 1rem 1rem;
  }
  
  /* Estilos para el pie del modal */
  .modal__footer {
    padding: 0 1.5rem 1.5rem;
  }
  
  .modal__title {
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  /* Estilos para campos de entrada */
  .input {
    display: flex;
    flex-direction: column;
  }
  
  .input + .input {
    margin-top: 1.75rem;
  }
  
  .input__label {
    font-weight: 700;
    font-size: 0.875rem;
  }
  
  .input__field {
    display: block;
    margin-top: 0.5rem;
    border: 1px solid var(--color-border-three);
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    transition: 0.15s ease;
  }
  
  .input__field:focus {
    outline: none;
    border-color: var(--color-hover);
    box-shadow: 0 0 0 1px var(--color-background-off-two),
      0 0 0 4px rgba(142, 124, 255, 0.25);
  }
  
  .input__field--textarea {
    min-height: 100px;
    max-width: 100%;
  }
  
  .input__description {
    font-size: 12px;
    padding: 3px;
    height: 25px;
    color: red;
  }
  
  /* Estilos para el loader */
  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
  