.layoutContainer {
  width: 100%;
  min-height: 100%;
}

.layoutContainer h2 {
  padding-bottom: var(--pd-y-1);
}

.layoutContent {
  padding: var(--pd-section);
  width: 90%;
  height: 100%;
  margin: auto;
}

.layoutContentItem {
  padding: var(--pd-section);
}

.enDesarrollo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100px;
  padding-bottom: var(--pd-y-2);
}

.enDesarrollo img {
  height: 100px;
}

.layoutBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pd-section);
}

.registroBannerContainer {
  background-color: var(--color-background-black);
  padding: 20px;
  text-align: center;
  margin: 15px 0;
}

.registroBannerContainer h3 {
  font-size: 1.5rem;
  color: var(--color-text-secondary);
}

.registroBannerContainer a {
  color: var(--color-text-accent);
  font-weight: bold;
  text-decoration: none;
}

.registroBannerContainer a:hover {
  text-decoration: underline;
}
