.layoutContainer {
  width: 100%;
  min-height: 100%;
}

.layoutContainer h2 {
  padding-top: var(--pd-y-1);
  padding-bottom: var(--pd-y-2);
}

.layoutContent {
  padding: var(--pd-section);
  width: 90%;
  height: 100%;
  margin: auto;
}

.enDesarrollo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100px;
  padding-bottom: var(--pd-y-2);
}

.enDesarrollo img {
  height: 100px;
}

.layoutBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pd-section);
}
