* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

.appContainer {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* Colores principales */
  --color-primary: #2c0b8e;
  --color-secondary: #ffcc00;
  --color-details: #4caf50;

  /* Colores de fondo */
  --color-background: #f0f0f0;
  --color-background-off: #494949;
  --color-background-off-two: #f2f2f2;

  /* Texto y elementos */
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;

  /* Cards */
  --color-border-one: #000000;
  --color-border-two: #0f0f0f;

  /* Hover */
  --color-hover: #0075be;

  /* Padding */

  /* Eje Y = Se usa para para el padding-top รณ padding-bottom */
  --pd-y-1: 10px;
  --pd-y-2: 20px;
  --pd-y-3: 30px;

  /* Eje X = Se usa para para el padding-left รณ padding-right */
  --pd-x-1: 10px;
  --pd-x-2: 20px;
  --pd-x-3: 30px;

  /* Eje Y + X = le da padding a los 4 lados y se usa en padding*/
  --pd-1: 10px;
  --pd-2: 20px;
  --pd-3: 30px;

  --pd-section: 30px 0;
}

/* Estilos generales */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

