* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

.appContainer {
  width: 100%;
  height: 100vh;
  font-family: var(--font-primary);
}

:root {
  /* Colores principales */
  --color-primary: #3d0dca;
  --color-secondary: #27272a;
  --color-details: #1c0570;

  /* Colores de fondo */
  --color-background: #f0f0f0;
  --color-background-off: #999999;
  --color-background-off-two: #8e7cff;
  --color-background-details: #f5f5f5;
  --color-background-black: #2d2f31;

  /* Texto y elementos */
  --color-text-primary: #000000;
  --color-text-secondary: #ffffff;
  --color-text-off: #494949;
  --color-text-accent: #ffe502;

  /* Cards */
  --color-border-one: #494949;
  --color-border-two: #d1d1d1b4;
  --color-border-three: #ccc;

  /* Hover */
  --color-hover: #2c0b8e;

  /* Radius */
  --radius: 5px;

  /* Padding */

  /* Eje Y = Se usa para para el padding-top รณ padding-bottom */
  --pd-y-1: 10px;
  --pd-y-2: 20px;
  --pd-y-3: 30px;
  --pd-y-4: 40px;
  --pd-y-5: 50px;

  /* Eje X = Se usa para para el padding-left รณ padding-right */
  --pd-x-1: 10px;
  --pd-x-2: 20px;
  --pd-x-3: 30px;
  --pd-x-4: 40px;
  --pd-x-5: 50px;

  /* Eje Y + X = le da padding a los 4 lados y se usa en padding*/
  --pd-1: 10px;
  --pd-2: 20px;
  --pd-3: 30px;
  --pd-4: 30px;
  --pd-5: 30px;

  --pd-section: 30px 0;
  --pd-section-x2: 60px 0;

  /* Sombra */
  --box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.2),
    0 10px 10px -10px rgba(0, 0, 0, 0.06);

  /* Fonts */
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Estilos generales */

a {
  text-decoration: none;
}

li {
  list-style: none;
}
