.studentContainer {
  width: 90%;
  margin: auto;
  min-height: 100%;
  padding: var(--pd-section);
}

.studentContainer h1 {
  padding-bottom: var(--pd-y-1);
}

.studentContainer h2 {
  padding-bottom: var(--pd-y-1);
}

.studentContainer h5 {
  padding-bottom: var(--pd-y-3);
  color: var(--color-background-off);
  font-style: italic;
}

.coursesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.studentDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-background-details);
  justify-content: space-between;
  padding: var(--pd-x-3);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  margin-bottom: 50px;
}

.studentDescription p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.studentDescription ul {
  list-style-type: disc;
  margin-left: 20px;
}

.studentDescription li {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.studentDescription li svg {
  width: 16px;
  height: 16px;
  color: green;
  margin-right: 15px;
}

.studentDescription li:hover {
  color: var(--color-primary);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 330px;
  border-radius: var(--radius);
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
}

.cardContainer:hover {
  border: 2px solid var(--color-hover);
}

.imgContainer {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.imgContainer img {
  min-width: 100%;
  min-height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.contentContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.contentContainer h4 {
  padding-bottom: 5px;
}

.contentTop {
  width: 100%;
  height: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.percentage {
  height: 25%;
}

.linkRating {
  width: auto;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 7px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 13px;
}

.linkRating:hover p {
  text-decoration: underline;
}

.linkRating:hover svg {
  color: green;
}

.linkRating svg {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBottom {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentFooter {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
