.cardContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid var(--color-border-one);
  max-width: 300px;
  min-width: 200px;
  height: 300px;
  border-radius: var(--radius);
  overflow: hidden;
}

.imgContainer {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.contentContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.contentContainer h4 {
  padding-bottom: 5px;
}

.contentTop {
  width: 100%;
  height: 40%;
  display: flex;
  text-align: start;
  align-items: center;
}

.contentBottom {
  width: 100%;
  height: 60%;
  display: flex;
  font-size: 13px;
}


