.coursesContainer {
  width: 90%;
  margin: auto;
  padding: var(--pd-section);
}

.categoryContainer {
  padding-bottom: var(--pd-y-3);
}

.categoryHeader {
  cursor: pointer;
  padding: var(--pd-y-2);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  transition: border-bottom 0.3s ease;
  display: flex;
  align-items: end;
}

.inactiveCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
}

.activeCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
  transform: rotate(180deg); 
}

.courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hidden {
  display: none;
}
