/* Estilos específicos para elementos dentro de la sección de filtros */

.SearchBarContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--color-border-two);
  border-radius: var(--radius);
  padding: 5px;
  width: 100%;
}

.filtersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.filtOrderCont {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.filterButt {
  padding: 5px;
  border: 1px solid var(--color-border-three);
  border-radius: 5px;
}

.SearchBarContainer input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-family: var(--font-primary);
}

.SearchBarContainer svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 8px;
}

.filters select {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  border: 1px solid var(--color-border-two);
  border-radius: var(--radius);
  cursor: pointer;
}

.filters select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  right: 10px;
}

/* Estilos para elementos relacionados con categorías */

.categoryContainerFilter {
  display: flex;
  width: 100%;
}

.categoryHeader {
  cursor: pointer;
  padding: var(--pd-y-2);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  transition: border-bottom 0.3s ease;
  display: flex;
  align-items: end;
}

.inactiveCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
}

.activeCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
  transform: rotate(180deg);
}

/* Estilos para la sección de cursos */

.coursesContainer {
  width: 90%;
  min-height: 100%;
  margin: auto;
  padding: var(--pd-section);
}

.courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hidden {
  display: none;
}

/* Estilos para pantallas pequeñas (máximo 642px) */

@media (max-width: 642px) {
  .filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }

  .section-filters {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }

  .filtOrderCont {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }
}
