.coursesContainer {
  width: 90%;
  min-height: 100%;
  margin: auto;
  padding: var(--pd-section);
}

.categoryContainerFilter {
  display: flex;
  width: 100%;
}

.categoryHeader {
  cursor: pointer;
  padding: var(--pd-y-2);
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  transition: border-bottom 0.3s ease;
  display: flex;
  align-items: end;
}

.inactiveCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
}

.activeCategorySVG {
  margin-left: 5px;
  width: 27px;
  height: 27px;
  transform: rotate(180deg);
}

.courses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hidden {
  display: none;
}

.filtersContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.section-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-details);
  padding: 10px;
  border: 1px solid var(--color-border-three);
  border-radius: 5px;
}

.filtOrderCont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filterButt {
  padding: 5px;
  border: 1px solid var(--color-border-three);
  border-radius: 5px;
}

.filter-butt:first-child {
  margin-left: 0;
}

.order {
  margin-left: 20px;
}

.orderButt {
  padding: 5px;
  border: 1px solid var(--color-border-three);
  border-radius: 5px;
  background-color: var(--color-background);
}

@media (max-width: 642px) {
  .filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }

  .section-filters {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }

  .filtOrderCont {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }
}
