.cardContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 330px;
  border-radius: var(--radius);
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.2s ease-out;
}

.cardContainer:hover {
  border: 2px solid var(--color-hover);
}

.imgContainer {
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.contentContainer {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.contentContainer h4 {
  padding-bottom: 5px;
}

.contentTop {
  width: 100%;
  height: 30%;
  display: flex;
  text-align: start;
  align-items: center;
}

.contentBottom {
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.contentBottomPrice {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
  align-items: center;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.contentFooter {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.priceWhitOutDiscount {
  color: var(--color-text-off);
  padding-right: 7px;
  text-decoration: line-through;
  font-size: 12px;
  align-items: center;
  height: 100%;
}
