.cardContainer {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 330px;
	border-radius: var(--radius);
	overflow: hidden;
	box-shadow: var(--box-shadow);
	border: 2px solid var(--color-border-two);
	transition: all 0.2s ease-out;
}

.cardContainer:hover {
	border: 2px solid var(--color-hover);
}

.imgContainer {
	width: 100%;
	height: 50%;
	overflow: hidden;
}

.imgContainer img {
	width: 100%;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.contentContainer {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 10px;
}

.contentContainer h4 {
	padding-bottom: 5px;
}

.contentTop {
	width: 100%;
	height: 30%;
	display: flex;
	text-align: start;
	align-items: center;
}

.contentBottom {
	width: 100%;
	height: 50%;
	display: flex;
	font-size: 13px;
	flex-direction: column;
}

.contentBottomPrice {
	color: var(--color-primary);
	font-weight: bold;
	font-size: 16px;
}

.contentFooter {
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.priceWhitOutDiscount {
	color: var(--color-text-off);
	padding-right: 10px;
	text-decoration: line-through;
}
