.cartContainer {
  width: 50px;
  height: 100%;
  position: relative;
  color: var(--color-text-primary);
}

.modal {
  background-color: var(--color-background-details);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 45px;
  padding: 20px;
  right: 0;
  z-index: 90;
  min-width: 300px;
}

.modalContent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modalContent ul {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  width: 100%;
}

.modalContent ul p {
  font-weight: 300;
}

.modalContent li {
  gap: 15px;
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  border-bottom: 1px solid var(--color-background-black);
}

.cartRemoveItem {
  height: auto;
  color: var(--color-text-secondary);
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: red;
  border-radius: var(--radius);
  border: 2px solid red;
}

.cartRemoveItem:hover {
  background: #fff;
  color: red;
  border: 2px solid red;
}

.cartButton {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.cartButton svg {
  color: var(--color-text-secondary);
  position: absolute;
  width: 24px;
}

.totalPrice {
  color: var(--color-text-primary);
  font-size: large;
}

.cartLength {
  position: relative;
  top: -13px;
  right: -18px;
  z-index: 91;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}
