.filtersContainer {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

  .section-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filtOrderCont {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .filters {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .filterButt {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .filter-butt:first-child {
    margin-left: 0;
  }
  
  .order {
    margin-left: 20px;
  }
  
  .orderButt {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .reset {
    margin-left: 20px;
  }
  
  .resetButton {
    padding: 5px 10px;
    background-color: #cc0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .resetButton:hover {
    background-color:  #cc0000;
  }
  
  
  