.container{
  width: 90%;
  height: auto;
}

p{
  margin-left: 20%;
}

.container h4{
  justify-content: left;
  margin-left: 20%;
}

.container h2{
  text-align: center;
}

.container h3{
  text-align: center;
}

.container li{
  justify-content: left;
  margin-left: 20%;
}
