.container{
  width: 100%;
  height: auto;
}

p{
  justify-content: left;
  margin-left: 20%;
}

.container h4{
  justify-content: left;
  margin-left: 20%;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

li{
  justify-content: left;
  margin-left: 20%;
}
