.cartPageContainer {
  width: 90%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: var(--pd-section);
}

.cartPageContainer h2 {
  padding-bottom: var(--pd-y-2);
}

.cartPageTop {
  display: flex;
  gap: 30px;
}

.cartPageInfo {
  width: 60%;
  min-height: 500px;
  background-color: var(--color-background-details);
  border-radius: var(--radius);
  padding: var(--pd-4);
}

.content {
  display: flex;
  width: 100%;
  height: auto;
}

.contentSelect a {
  color: var(--color-primary);
}

.content ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.content li {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
  padding-top: var(--pd-y-2);
  padding-bottom: var(--pd-y-2);
  border-bottom: 1px solid var(--color-background-black);
}

.contentImg {
  width: 20%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImg img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.contentText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.contentText div p {
  display: flex;
  width: 100%;
  height: auto;
}

.cartPageSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  min-height: 500px;
  background-color: var(--color-background-details);
  border-radius: var(--radius);
  padding: var(--pd-4);
}

.cartPageSummary ul {
  list-style: none;
  padding: 0;
}

.cartPageSummary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--pd-y-2);
  width: 100%;
}

.cartPageSummary p {
  font-size: 1rem;
  font-weight: bold;
}

.cartPageSummary span {
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: bold;
}

.cartRemoveItem {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cartRemoveItem svg {
  border-radius: 50%;
  transition: all 0.2s ease-out;
  width: 24px;
  height: 24px;
}

.cartRemoveItem svg:hover {
  background-color: red;
  border-radius: 50%;
  color: var(--color-text-secondary);
}

.totalPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

.bottonBuy {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 30px;
}

.finalizePurchase {
  height: auto;
  color: var(--color-text-secondary);
  padding: 5px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: green;
  border-radius: var(--radius);
  border: 2px solid green;
}

.finalizePurchase:hover {
  background: #fff;
  color: green;
  border: 2px solid green;
}
