.navBarContainer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-off);
  color: var(--color-text-secondary);
}
