.navbarContainer {
  width: 100%;
  height: 70px;
  background-color: var(--color-background-off);
}

nav {
  display: flex;
  align-items: center;
  width: 90%;
  height: 100%;
  justify-content: space-between;
  transition: box-shadow 0.1s ease 0s, background-color 0.1s ease 0s;
  color: var(--color-text-secondary);
  position: static;
  margin: auto;
  font-weight: bold;
}

.navbarLogo {
  display: flex;
  align-items: center;
}

.imgProfile {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: none;
}

.navbarAssets {
  display: flex;
  align-items: center;
}

.navbarLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  color: var(--text-secondary-color);
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 98;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.navbarLinks li a {
  color: var(--text-secondary-color);
}

.navbarLinks li a:hover {
  color: var(--color-hover);
}

.navbarLinks.active {
  height: 60%;
  opacity: 1;
  height: 100vh;
}

.navbarLinks.active li {
  padding: 16px;
}

.navbarLinks.active li a {
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.menuModal {
  width: 40px;
  display: flex;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding-bottom: 5px;
  align-items: center;
}

.modal {
  background-color: var(--color-background-details);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 45px;
  right: 0;
  padding: 30px;
  z-index: 97;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--color-text-primary);
}

.modalContent button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.modalContent button:hover {
  color: var(--color-hover);
}

.navbarToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 38px;
  width: 38px;
  transition: all 0.2s ease-out;
}

.navbarToggle:hover {
  color: var(--color-hover);
}

.navbarToggle svg {
  height: 36px;
  width: 36px;
}

.menuClose {
  position: relative;
  cursor: pointer;
  z-index: 99;
}

.menuOpen {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbarLinks {
    display: flex;
    opacity: 1;
    position: relative;
  }

  .navbarLinks ul {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .navbarToggle {
    display: none;
  }
}

@media (max-width: 425px) {
  nav {
    margin: 0px;
    justify-content: space-around;
  }
}
