.detailCourseContainer {
  width: 90%;
  margin: auto;
  max-width: 1024px;
  min-height: 100%;
  padding: var(--pd-section);
}

.detailCourseContainer h1 {
  padding-bottom: var(--pd-y-2);
}

.detailContentTop {
  display: flex;
  width: 80%;
  margin: auto;
  padding-bottom: var(--pd-y-2);
  gap: 20px;
}

.courseImage {
  object-fit: cover;
}

.imageContainer img {
  width: 100%;
  max-width: 300px;
  min-height: 170px;
  max-height: 300px;
}

.listContainer {
  width: 80%;
  margin: auto;
  padding: var(--pd-3);
  border: 1px solid var(--color-border-three);
  background-color: var(--color-background);
}

.listItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-border-three);
  background-color: var(--color-background-details);
  padding: var(--pd-y-1) var(--pd-x-3);
  transition: all 0.2s ease-out;
}

.section {
  padding: var(--pd-y-1) 0;
}

.listTime h3 {
  display: flex;
  justify-content: end;
  border: 1px solid var(--color-border-three);
  background-color: var(--color-background-details);
  padding: var(--pd-y-3) var(--pd-x-3);
  transition: all 0.2s ease-out;
  margin-top: 20px;
}

.buttonsContainer {
  width: 100%;
  padding: var(--pd-section);
  display: flex;
  gap: 20px;
  justify-content: center;
}
